@using DoAnCNTT_HH.Common;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dm = (List<Model.EF.DanhMucKienThuc>
    )ViewBag.Dmkt;
    var DanhMucTinTuc = (List<Model.EF.DanhMucTinTuc>
        )ViewBag.DanhMucTinTuc;
    var baiviet = (List<Model.EF.TinTuc>
        )ViewBag.BaiViet;
    var baivietTinCongNghe = (List<Model.EF.TinTuc>)ViewBag.BaiVietCongNghe;
}
<br>
<div class="row" @*style="background-color:antiquewhite"*@>

    <div class="col-sm-2">

        <ul class="list-group">
            <li class="list-group-item disabled">Danh mục tin tức</li>
            @foreach (var item in DanhMucTinTuc)
            {
                <li class="list-group-item disabled">

                    @Html.ActionLink(item.Ten.ToString(), item.Link, "TinTuc")
                </li>

            }

        </ul>
    </div>



    <!------ Include the above in your HEAD tag ---------->
    <div class="col-sm-6">
        <div class="latest-news">

            @foreach (var item in baivietTinCongNghe)
            {
                var url = "/tin-tuc/" + item.TieuDeSeo + "-" + item.TinTucID;

                @*<h2>
                        <a href="@url">@item.Ten.ToString()</a>
                    </h2>

                    <strong>@item.TieuDe.ToString()</strong>
                    <br />
                    <a href="@url"><img src="@item.HinhAnh" style="float:none"></a>

                    <br />*@


                <div class="latest-news-all"  style="background-color:#fff ;padding-bottom :0px">
                    <div class="latest-news-left"> <a href="@url"><img src="@item.HinhAnh" width="150" height="100"  alt=""> </a></div>
                    <div class="latest-news-right">
                        <a class="tieu-de" href="@url">@item.Ten.ToString()</a>
                        <div class="news">
                            <span class="news-left">@item.NguoiTao.ToString()</span>
                            <span class="news-right">
                                @if (item.NgayTao != null)
                                {
                                    @*@item.NgayTao.Value.ToString();*@

                                    @Time_Ago.TimeAgo(item.NgayTao.Value);


                                }
                            </span>
                            <br>
                            <span class="news-right">Lượt xem : @item.LuotXem.ToString()</span>
                        </div>
                    </div>
                </div>
            }

          
        </div>

        <div class="col-sm-4">

        </div>

    </div>





    @*<div class="col-sm-10">
            <h2>Tin Công Nghệ</h2>
            @foreach (var item in baivietTinCongNghe)
            {
                var url = "/tin-tuc/" + item.TieuDeSeo + "-" + item.TinTucID;

                <h2>
                    <a href="@url">@item.Ten.ToString()</a>
                </h2>

                <strong>@item.TieuDe.ToString()</strong>
                <br />
                <a href="@url"><img src="@item.HinhAnh" style="float:none"></a>

                <br />

            }


        </div>*@


</div>
